.afb--items .item-header {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px;
    background: #2271b150;
}
.afb--items .item-header .handle {
    cursor: grab;
}
.afb--items .item-header h3.item-counter {
    margin: 0;
}

.afb--items .item-body {
    position: absolute;
    opacity: 0;
    text-indent: -999em;
}